Source: librabbitmq
Priority: optional
Maintainer: Hiroshi HATAKE <cosmo0920.oucc@gmail.com>
Build-Depends: debhelper (>= 7), autoconf, automake, cmake, libtool, python (>= 2.5), python-simplejson, libpopt-dev, xmlto, libssl-dev (>= 1.0.0)
Standards-Version: 3.8.1
Section: libs
Homepage: http://www.rabbitmq.com/
Vcs-Browser: https://github.com/alanxz/rabbitmq-c

Package: librabbitmq-dev
Section: libdevel
Architecture: any
Depends: librabbitmq1 (= ${binary:Version}), ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: AMQP client library written in C

Package: librabbitmq1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libssl (>= 1.0.0)
Description: developer's libraries for librabbitmq

Package: amqp-tools
Section: net
Architecture: any
Depends: librabbitmq1 (= ${binary:Version}),${shlibs:Depends}
Description: Command-line utilities for interacting with AMQP servers
